<!DOCTYPE html>
<html>
  <head>
    <title>Flapper News</title>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app="flapperNews">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
